
@font-face {
    font-family: 'ceremonious';
    src: url(../fonts/Ceremonious.woff) format("woff");
}

@font-face {
    font-family: 'PFDin-m';
    src: url(../fonts/Poppins-Medium.woff) format(woff);
}

@font-face {
    font-family:'PFDin-r' ;
    src: url(../fonts/pfdintextcondpro-regular.woff) format(woff);
}

@font-face {
    font-family: 'BravoRG-r';
    src: url(../fonts/BravoRGRegular.woff) format(woff);
}

@font-face {
    font-family: "PTSans-r";
    src: url(../fonts/PTSans-Regular.woff) format(woff);
}

@font-face {
    font-family: "PTSans-bold";
    src: url(../fonts/PTSans-Bold.woff) format(woff);
}



