.title__next {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-family: 'PTSans-r', sans-serif;
    line-height: 25 / 15;
}

.title__item {
    font-family: 'ceremonious', sans-serif;
    color: #bb9c66;
    font-size: 2.5rem;
    @media(max-width: 425px) {
        font-size: 1.5rem;
    }
    @media(max-width: 268px){
        font-size: 1.1rem;
    }
}

.title__main {
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.313rem;
    padding: 23px 0 27px 0;
    @media(max-width: 785px) {
        font-size: 1.3rem;
        padding: 1.5rem 0 0.5rem 0;
    }
    @media(max-width: 268px){
        font-size: 1rem;
    }
}

.title__next {
    @media(max-width: 268px) {
        font-size: 0.75rem;
    }
}

.black__font {
    color: #000;
    font-weight: bold;
}
